/* @import '~antd/dist/antd.dark.css'; */
@import './style/custom-antd.css';

.App {
  height: 100%;
  width: 100%;
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  padding: 0 1.25%;
}

.InputGroup {
  /* background-color: white; */
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  align-items: center;
}

.Input {
  margin-bottom: 5%;
  width: 95%;
  background-color: rgb(78, 78, 78);
  color: white;
}

button {
  width: 10%;
}

/* .Input:hover {
  border-color: white !important;
}

.Input:focus {
  border-color: white !important;
}

.Decrypt:hover, .Decrypt:active, .Decrpyt:visited {
  border-color: rgb(136, 136, 136) !important;
  color: rgb(136, 136, 136) !important;
}
 */